<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>VueCalculator</title>
    <link rel="stylesheet" href="/assets/styles/index.css" />
    <style>
      @font-face {
        font-family: emoji;
        src: local('Apple Color Emoji'), local('Android Emoji'), local('Segoe UI Emoji'), local(EmojiSymbols),
          local(Symbola);
      }

      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .col {
        padding: 0.5rem;
      }

      input[type='number'] {
        width: 48px;
      }
    </style>
  </head>

  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="col">
          <input id="first_number" type="number" v-model="first_number" />
        </div>

        <div class="col" style="display: flex; flex-direction: column; font-family: emoji">
          <label><input type="radio" id="sum" value="sum" v-model="action" /> ➕</label>
          <label><input type="radio" id="subtract" value="subtract" v-model="action" /> ➖</label>
          <label><input type="radio" id="multiply" value="multiply" v-model="action" /> ✖</label>
          <label><input type="radio" id="divide" value="divide" v-model="action" /> ➗</label>
        </div>

        <div class="col">
          <input id="seconde_number" type="number" v-model="seconde_number"/>
        </div>

        <div class="col">=</div>

        <output class="col">{{ math_result }}</output>
        <!-- для теста -->
        <!-- <output class="col">{{ first_number }}</output>
        <output class="col">{{ action }}</output>
        <output class="col">{{ seconde_number }}</output> -->
      </div>
    </div>

    <script type="module" src="script.js"></script>
  </body>
</html>
